Source: calamares-settings-huayra
Section: utils
Priority: optional
Maintainer: Matias De lellis <mati86dl@gmail.com>
Build-Depends: debhelper (>= 10), libglib2.0-bin
Standards-Version: 4.3.0
Homepage: https://salsa.debian.org/live-team/calamares-settings-debian
Vcs-Git: https://salsa.debian.org/live-team/calamares-settings-debian-packaging.git
Vcs-Browser: https://salsa.debian.org/live-team/calamares-settings-debian-packaging

Package: calamares-settings-huayra
Architecture: all
Depends: calamares,
         squashfs-tools,
         rsync,
         cryptsetup,
         keyutils,
         console-setup,
         qml-module-qtquick-window2,
         qml-module-qtquick2,
         ${misc:Depends}
Provides: calamares-settings
Conflicts: calamares-settings-debian
Description: Huayra themes and settings for the Calamares Installer
 Calamares is a generic installer framework for Linux distributions.
 By default, it contains a set of boilerplate wording and images. This
 package provides the latest Debian artwork as well as scripts that
 supports EFI installations.
 .
 It also serves as an example for how derivatives can create their own
 calamares-settings packages.
